target/

/src/java/SIMS5/data/networks
/src/java/SIMS5/data/profiles

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

src/main/java/SIMS5/data/profiles/UserProfiles/wadqa.p
src/main/java/SIMS5/data/profiles/UserProfiles/vtgkcft.p
src/main/java/SIMS5/data/profiles/UserProfiles/rgweg.p
src/main/java/SIMS5/data/profiles/UserProfiles/ghhkj.p
src/main/java/SIMS5/data/profiles/UserProfiles/gfnfmg,.p
src/main/java/SIMS5/data/profiles/UserProfiles/gfgjfj.p
src/main/java/SIMS5/data/profiles/UserProfiles/fgnhfrgj.p
src/main/java/SIMS5/data/profiles/UserProfiles/fghrht.p
src/main/java/SIMS5/data/profiles/UserProfiles/ehgh.p
src/main/java/SIMS5/data/profiles/UserProfiles/ehgehe.p
src/main/java/SIMS5/data/profiles/UserProfiles/drhdeh.p
src/main/java/SIMS5/data/profiles/UserProfiles/default.p
src/main/java/SIMS5/data/profiles/UserProfiles/cvbnfmf.p
src/main/java/SIMS5/data/networks/wadqa/round0.w
src/main/java/SIMS5/data/networks/wadqa/round0.n
src/main/java/SIMS5/data/networks/vtgkcft/round0.w
src/main/java/SIMS5/data/networks/vtgkcft/round0.n
src/main/java/SIMS5/data/networks/rgweg/round0.w
src/main/java/SIMS5/data/networks/rgweg/round0.n
src/main/java/SIMS5/data/networks/ghhkj/round1.w
src/main/java/SIMS5/data/networks/ghhkj/round1.n
src/main/java/SIMS5/data/networks/ghhkj/round0.w
src/main/java/SIMS5/data/networks/ghhkj/round0.n
src/main/java/SIMS5/data/networks/gfnfmg,/round0.w
src/main/java/SIMS5/data/networks/gfnfmg,/round0.n
src/main/java/SIMS5/data/networks/gfgjfj/round0.w
src/main/java/SIMS5/data/networks/gfgjfj/round0.n
src/main/java/SIMS5/data/networks/fgnhfrgj/round0.w
src/main/java/SIMS5/data/networks/fgnhfrgj/round0.n
src/main/java/SIMS5/data/networks/fghrht/round0.w
src/main/java/SIMS5/data/networks/fghrht/round0.n
src/main/java/SIMS5/data/networks/ehgh/round0.w
src/main/java/SIMS5/data/networks/ehgh/round0.n
src/main/java/SIMS5/data/networks/ehgehe/round0.w
src/main/java/SIMS5/data/networks/ehgehe/round0.n
src/main/java/SIMS5/data/networks/drhdeh/round0.w
src/main/java/SIMS5/data/networks/drhdeh/round0.n
src/main/java/SIMS5/data/networks/default/round1.w
src/main/java/SIMS5/data/networks/default/round1.n
src/main/java/SIMS5/data/networks/default/round0.w
src/main/java/SIMS5/data/networks/default/round0.n
src/main/java/SIMS5/data/networks/cvbnfmf/round4.w
src/main/java/SIMS5/data/networks/cvbnfmf/round4.n
src/main/java/SIMS5/data/networks/cvbnfmf/round3.w
src/main/java/SIMS5/data/networks/cvbnfmf/round3.n
src/main/java/SIMS5/data/networks/cvbnfmf/round2.w
src/main/java/SIMS5/data/networks/cvbnfmf/round2.n
src/main/java/SIMS5/data/networks/cvbnfmf/round1.w
src/main/java/SIMS5/data/networks/cvbnfmf/round1.n
src/main/java/SIMS5/data/networks/cvbnfmf/round0.w
src/main/java/SIMS5/data/networks/cvbnfmf/round0.n
